.article {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 2rem;
}
blockquote {
	position: relative;
	margin: 0 0 2rem;
	padding: 0.5rem 0;
	font-size: 1.8rem;
	opacity: 0.9;
	font-style: italic;

	&:after {
		content: '';
		display: block;
		height: 100%;
		width: 0.1rem;
		background: var(--contrast-background-color);
		position: absolute;
		top: 0;
		left: -2rem;
	}
}
