// Header
.header {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

@media screen and (min-width: 636px) {
	.nav-links {
		display: grid;
		grid-template-columns: 1fr;
	}

	.nav-links a {
		display: inline-block;
		padding: 15px 20px;
	}
	.hamburger {
		display: none;
	}
}
