// Header

nav {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.nav-links {
	margin: 0;
	padding: 0;
	background: #fafafa;
	margin: 0;

	li {
		display: inline-block;
		border: 1px solid black;
		&:first-child {
			justify-self: start;
		}
	}
	a {
		.nav-links a {
			display: inline-block;
			padding: 15px 20px;
		}
	}
}

.hamburger {
	display: none;
}
