.site {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		'header header header'
		'main main main'
		'sidebar sidebar sidebar'
		'footer footer footer';
	max-width: 1400px;
	margin: 0 auto;
}
header {
	grid-area: header;
	padding: 2rem 1rem;
}
main {
	grid-area: main;
}
aside {
	grid-area: sidebar;
	height: 200px;
	border: 1px solid black;
}
footer {
	grid-area: footer;
}

//min width css media query
@media screen and (min-width: 768px) {
	.site {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			'header header header'
			'main main sidebar'
			'footer footer footer';
	}
	aside {
		height: 100%;
	}
}
