---
import BaseLayout from '../../layouts/BaseLayout.astro'

export const frontmatter = {
	title: 'Grid Experiment',
}
---

<BaseLayout pageTitle={frontmatter.title}>
	<p>This is my experients</p>
</BaseLayout>
