html {
	font-size: 10px;
}
body {
	font-family: var(--p-font);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
	font-size: 1.7rem;
	color: var(--text-color);
	background-color: var(--background-color);
	min-height: 100vh;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

@media screen and (min-width: 768px) {
	body {
		font-size: 1.8rem;
	}
}

ul,
ol {
	margin: 0 0 2rem;
}
