---
import { object } from 'astro:schema'
import BaseLayout from '../layouts/BaseLayout.astro'
import HomeContent from '../components/HomeContent.astro'
import RecentItems from '../components/RecentItems.astro'
const pageTitle = 'Hello and welcome'
const description = "David Volz's Personal Site"
const subTitle = 'I am David Volz, a software manager and engineer'
---

<BaseLayout
	pageTitle={pageTitle}
	subTitle={subTitle}
	,
	description={description}>
	<div class="content-pmw">
		<div class="content content-center">
			<p>
				Sample paragraph that is about 100 words long. It has a couple sentences
				that are decent. Then one final sentence that closes the thoughts of the
				paragraph.
			</p>
		</div>
	</div>

	<HomeContent />
	<RecentItems featured="true" />
</BaseLayout>
