---
import { object } from 'astro:schema'

import BaseLayout from '../layouts/BaseLayout.astro'
import RecentItems from '../components/RecentItems.astro'

const pageTitle = 'Play'
const description = 'Play page that showcases experiments'
---

<BaseLayout pageTitle={pageTitle} description={description}>
	<div class="content">
		<p>
			The idea here is to talk about my love for seeing structured html become
			styled by css and into a useful format. An idea is to show the code on the
			left and then a button or something to add upgrade the link at at time.
			Like it starts of as unstyled link, then a basic button, then some more
			things
		</p>
		<RecentItems category="play" />
	</div>
</BaseLayout>
