---
import AstroSVGRaw from '../svgs/astro.svg?raw'
const lastUpdated = import.meta.env.LAST_UPDATED || 'unknown'
const astroVersion = import.meta.env.ASTRO_VERSION || 'unknown'
const astroVersionReal = Astro.generator.replace('Astro ', '')
---

<style lang="scss">
	$terminal-green: #00ff00;
	$terminal-background: #1e1e1e;
	:global(.astroSVG) {
		width: 20rem;
		height: auto;
		cursor: pointer;
		:global(.letter) {
			stroke-width: 2.5;
			stroke: var(--text-color);
			transition: all 0.5s ease;
			fill: var(--background-color);
		}
		&:hover {
			:global(.letter) {
				stroke: $terminal-green;
				fill: $terminal-background;
			}
		}
	}
	:global(.astroSVG.open) {
		:global(.letter) {
			filter: drop-shadow(0 0 10px #00ff00);
			fill: $terminal-background;
		}
	}

	.lastUpdated {
		max-height: 0;
		overflow: hidden;
		transition: all 0.3s ease-in;
		&.open {
			max-height: 16rem;
		}
	}
	.terminal {
		font-family: 'Courier New', Courier, monospace;
		background-color: $terminal-background;
		color: $terminal-green;
		border-radius: 1rem;
		box-shadow: 0 0 2rem rgba(0, 255, 0, 0.7);
		margin: 0 auto;
		font-size: 1.4rem;
		text-align: right;
		line-height: 2.2;
		max-width: 30rem;
		@media screen and (min-width: 850px) {
			margin-right: 0;
		}
		.inner {
			padding: 2rem;
			position: relative;
			&:before {
				content: '';
				display: block;
				border-top: 0.1rem dashed $terminal-green;
				margin-bottom: 2rem;
			}
			&:after {
				content: '$ astro details';
				padding-right: 1rem;
				position: absolute;
				top: 0.6rem;
				background: $terminal-background;
				left: 1.3rem;
				font-size: 1.3rem;
			}
		}
		span {
			border: 0.1rem solid $terminal-green;
			border-radius: 0.5rem;
			box-shadow: 0 0 0.8rem rgba(0, 255, 0, 0.7);
			padding: 0.7rem;
		}
		.top {
			border-top: 0.1rem dashed $terminal-green;
		}
	}

	.terminal p {
		margin-bottom: 1rem;
		&:last-child {
			&:after {
				content: '|';
				animation: blink 0.8s step-end infinite;
				margin-left: -0.5rem;
				display: inline-block;
			}
		}
	}

	@keyframes blink {
		50% {
			opacity: 0;
		}
	}
</style>

<div class="astroSVG">
	<Fragment set:html={AstroSVGRaw} />
</div>
<div class="lastUpdated terminal">
	<div class="inner">
		<p>Astro Version <span>{astroVersionReal}</span></p>
		<p>
			Site last updated<br />
			<span>{lastUpdated}</span>
		</p>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const astroSVG = document.querySelector('.astroSVG')
		const details = document.querySelector('.lastUpdated')
		let isOpen = false
		function showDetails() {
			if (isOpen) {
				astroSVG.classList.toggle('open')
				details.classList.toggle('open')
				isOpen = false
			} else {
				astroSVG.classList.toggle('open')
				details.classList.toggle('open')
				isOpen = true
			}
		}
		astroSVG.addEventListener('click', showDetails)
	})
</script>
