---
import CatSVGFile from '../svgs/cat.svg?raw'
---

<style>
	:global(body) {
		position: relative;
	}
	:global(.catHouse) {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: 15rem;
		opacity: 0.3;
		pointer-events: none;
	}
	.catSVG {
		width: 70px;
		height: auto;
		margin: 0 auto;
		cursor: pointer; /* Indicates the element is clickable */
	}
</style>

<div id="background-container">
	<div class="catSVG" id="cat-svg">
		<Fragment set:html={CatSVGFile} />
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const svgElement = document.getElementById('cat-svg')
		const catHouse = document.querySelector('.catHouse')
		let isBackgroundSet = false // Toggle state

		const svgBackground = `url('/cat-bg.svg')`

		// Preload the SVG
		const preloadImage = new Image()
		preloadImage.src = '/cat-bg.svg' // Load the SVG into the browser cache

		// Function to toggle the background
		function toggleBackground() {
			if (isBackgroundSet) {
				// Remove background
				catHouse.style.backgroundImage = ''
				isBackgroundSet = false
			} else {
				// Set background
				catHouse.style.backgroundImage = svgBackground
				catHouse.style.backgroundRepeat = 'repeat'
				isBackgroundSet = true
			}
		}

		// Attach the toggle function to the click event
		svgElement.addEventListener('click', toggleBackground)
	})
</script>
