---
import CatSVG from '../components/CatSVG.astro'
import AstroSVG from '../components/AstroSVG.astro'
const currentYear = new Date().getFullYear()
import Social from './Social.astro'
const socialLinks = [
	{ platform: 'bluesky', username: 'saladjones', icon: 'mdi:twitter' },
	{ platform: 'instagram', username: 'penia', icon: 'mdi:instagram' },
	{ platform: 'linkedin', username: 'davidtvolz', icon: 'mdi:linkedin' },
]
---

<style lang="scss">
	footer {
		padding: 4rem 3rem;
		position: relative;
		&:before,
		&:after {
			bottom: inherit;
			top: 0;
			width: calc(100% - 4rem);
			left: 2rem;
		}
	}
	.row {
		display: flex;
		flex-flow: row wrap;
		width: 100%;
	}
	.column {
		width: 100%;
		text-align: center;
		margin-bottom: 2rem;
	}
	.social-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		li {
			list-style-type: none;
		}
	}

	.astroColumn {
		text-align: center;
		p {
			margin: 0;
		}
	}
	:global(.astroSVG) {
		margin: 0 auto;
	}

	@media screen and (min-width: 850px) {
		$column-width: 33.33337%;
		.column {
			flex: 0 0 $column-width;
			max-width: $column-width;
		}
		.social-footer {
			justify-content: start;
		}
		.astroColumn {
			text-align: right;
			padding-left: 2rem;
		}
		:global(.astroSVG) {
			margin: 0 0 0 auto;
		}
	}
</style>
<footer class="solo-line">
	<div class="row">
		<div class="column">
			<ul class="social-footer">
				{
					socialLinks.map(({ platform, username, icon }) => (
						<Social platform={platform} username={username} icon={icon} />
					))
				}
			</ul>
		</div>

		<div class="column catColumn">
			<CatSVG />
			<p>&copy; Copyright {currentYear}</p>
		</div>
		<div class="column astroColumn">
			<p>Developed from scratch using</p>
			<AstroSVG />
		</div>
	</div>
</footer>
