---
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro'
import Logo from './Logo.astro'
---

<header>
	<ThemeIcon />
	<nav>
		<Logo />
		<Navigation />
	</nav>
</header>
