---
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro'
import Logo from './Logo.astro'
---

<header>
	<nav class="solo-line">
		<Logo />
		<Navigation />
		<ThemeIcon />
	</nav>
</header>
