---

---

<style lang="scss">
	* {
		--logo-size: 10rem;
	}
	.logo-link {
		display: inline-block;
		border: 1px solid gray;
		margin-right: 2.5rem;
		height: var(--logo-size);

		svg {
			height: auto;
			width: var(--logo-size);
		}
		path {
			transition: 0.3s linear;
		}
		&:hover {
			path {
				fill: var(--p-color);
			}
		}
	}
	@media screen and (min-width: 450px) {
		* {
			--logo-size: 15rem;
		}
	}
</style>
<a class="logo-link" href="/">
	<svg
		width="262"
		height="262"
		viewBox="0 0 262 262"
		fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<rect
			x="2.5"
			y="2.5"
			width="257"
			height="257"
			rx="47.5"
			stroke="black"
			stroke-width="5"
			class="outer-box"></rect>
		<path
			d="M72.3771 208.545C64.4879 208.545 57.1621 206.416 50.3999 202.159C43.6377 197.903 38.2138 191.943 34.1283 184.281C30.0428 176.618 28 167.75 28 157.676C28 148.878 30.0428 140.648 34.1283 132.986C38.3547 125.182 44.1307 118.939 51.4565 114.256C58.9231 109.432 67.3759 107.02 76.8148 107.02C81.323 107.02 85.7607 107.587 90.128 108.722C94.4952 109.716 98.2286 111.135 101.328 112.979H101.962V80.4146C101.962 77.8605 101.821 75.5192 101.539 73.3908C101.398 71.1205 100.624 69.3469 99.2147 68.0698C97.8059 66.6509 95.1292 65.9414 91.1846 65.9414C89.9167 65.9414 88.7192 65.7995 87.5921 65.5157C86.606 65.09 86.1129 63.813 86.1129 61.6846C86.1129 59.5562 87.2399 58.2791 89.494 57.8535C95.9745 56.8602 100.905 55.867 104.286 54.8737C107.808 53.8804 110.485 53.0291 112.317 52.3196C114.148 51.6101 115.768 51.1845 117.177 51.0426C118.304 50.9007 119.22 51.1135 119.924 51.6811C120.769 52.2487 121.192 53.3838 121.192 55.0865V186.409C121.192 194.781 126.686 198.967 137.675 198.967C139.225 198.967 140.211 199.392 140.633 200.244C141.056 200.953 141.267 201.663 141.267 202.372C141.267 204.359 140.07 205.565 137.675 205.99L104.075 208.332C103.089 208.332 102.525 207.906 102.385 207.055C102.244 206.203 102.173 205.21 102.173 204.075V195.561H101.539C98.0172 199.251 93.5795 202.372 88.2261 204.926C83.0135 207.338 77.7306 208.545 72.3771 208.545ZM79.562 197.903C84.9154 197.903 89.3531 196.838 92.8751 194.71C96.3971 192.44 99.426 189.956 101.962 187.261V131.071C101.257 128.658 99.9191 126.246 97.9468 123.834C96.1154 121.28 93.5795 119.152 90.3393 117.449C87.2399 115.604 83.4362 114.682 78.928 114.682C70.757 114.682 63.8539 118.584 58.2187 126.388C52.5835 134.05 49.7659 144.834 49.7659 158.74C49.7659 165.409 50.8225 171.794 52.9357 177.896C55.1898 183.855 58.5005 188.679 62.8677 192.369C67.235 196.058 72.7998 197.903 79.562 197.903Z"
			fill="black"
			class="letter-d"></path>
		<path
			d="M172.316 207.515C168.79 199.76 165.264 191.3 161.738 182.134C158.212 172.969 154.756 164.016 151.371 155.273C147.985 146.531 144.741 138.917 141.638 132.431C139.381 127.214 137.195 123.548 135.079 121.433C132.964 119.177 129.79 117.767 125.559 117.203C123.725 116.921 122.456 116.639 121.75 116.357C121.186 116.075 120.834 115.017 120.692 113.184C120.551 110.787 121.186 109.518 122.597 109.377C124.148 109.095 125.982 108.884 128.098 108.743C136.843 108.32 143.683 109.589 148.62 112.55C153.557 115.511 157.577 120.516 160.68 127.566C162.655 131.938 164.841 137.366 167.239 143.852C169.778 150.338 172.387 156.895 175.067 163.522C177.747 170.149 180.356 176.142 182.895 181.5H183.53L204.476 126.086C205.886 121.997 205.957 119.459 204.687 118.472C203.418 117.485 200.667 116.991 196.436 116.991C195.166 116.991 194.108 116.921 193.262 116.78C192.416 116.498 191.922 115.299 191.781 113.184C191.781 112.338 191.993 111.422 192.416 110.435C192.98 109.448 193.756 108.954 194.743 108.954C198.834 109.095 202.36 109.236 205.322 109.377C208.284 109.518 211.599 109.589 215.266 109.589C217.805 109.589 219.85 109.589 221.401 109.589C222.953 109.448 224.575 109.377 226.268 109.377C227.96 109.236 230.146 109.095 232.826 108.954C233.955 108.954 234.731 109.448 235.154 110.435C235.718 111.422 236 112.338 236 113.184C235.859 115.299 235.295 116.498 234.307 116.78C233.461 116.921 232.474 116.991 231.345 116.991C226.691 116.991 222.953 117.837 220.132 119.529C217.452 121.221 215.125 124.535 213.15 129.47C213.15 129.47 212.374 131.374 210.823 135.181C209.412 138.847 207.508 143.641 205.11 149.563C202.712 155.485 200.174 161.76 197.494 168.387C194.814 175.014 192.204 181.288 189.665 187.211C187.268 193.133 185.293 197.997 183.741 201.804C182.19 205.611 181.344 207.515 181.202 207.515H172.316Z"
			fill="black"
			class="letter-v"></path>
	</svg>
</a>
