---
import ThemeIcon from './ThemeIcon.astro'
const navLinks = [
	{ path: '/about/', name: 'About' },
	{ path: '/thoughts/', name: 'Thoughts' },
	{ path: '/play/', name: 'Play' },
]
const currentPath = Astro.url.pathname
---

<style>
	.theme-li {
		margin-left: 1rem;
	}
</style>
<ul class="nav-links">
	{
		navLinks.map((link) => (
			<li>
				<a
					href={link.path}
					class={currentPath.startsWith(link.path) ? 'active' : ''}>
					{link.name}
				</a>
			</li>
		))
	}
	<li class="theme-li"><ThemeIcon /></li>
</ul>
