---
import { Icon } from 'astro-icon/components'
---

<style lang="scss">
	.recent-items {
		margin: 4rem 0;
	}
</style>

<div class="recent-items">
	<div class="item">
		<h4>Recent Item TBD LOL</h4>
	</div>
</div>
