---
import { platforms, defaultPlatform } from '../data/platforms.js'
const { platform, username, icon } = Astro.props
import { Icon } from 'astro-icon/components' // Centralized mapping for platform-specific settings

// Get platform-specific details
const { url, socialIcon } = platforms[platform]
	? {
			url: platforms[platform].url(username),
			socialIcon: platforms[platform].icon,
		}
	: {
			url: defaultPlatform.url(platform, username),
			socialIcon: defaultPlatform.icon(icon),
		}
---

<style lang="scss">
	.social-item {
		margin-right: 1.5rem;
		list-style-type: none;
	}
	$svg-size: 4rem;
	svg {
		width: $svg-size;
		height: $svg-size;
		color: var(--background-color);
		transition: color 0.3s ease;
	}
	a svg {
		&:hover {
			color: var(--highlight-accent);
		}
	}
</style>

<li class="social-item">
	<a href={url} title={platform} target="_blank">
		<Icon
			name={socialIcon}
			style="stroke: var(--text-color); stroke-width:.7; fill:none;"
		/>
	</a>
</li>
